body {
    font-family: sans-serif;
}
/*hace que el area de contenido llene toda la ventana del navegador*/
html,
.fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
/*centra el contenido en la ventana del navegador*/
.container {
    margin: auto;
    text-align: center;
}
.title {
    font-size: 3rem;
}